.me-auto{

  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;

}

.navbar-toggler {
    height: 39.6px;
}
.bg-body-tertiary img{
    padding-bottom: 15px;
}


.btn-carrito, .btn-perfil {
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;

  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;

  border-radius: 50% !important;
  transition: all 0.2s ease;
  
}

/* HOVER */
.btn-carrito:hover, .btn-perfil:hover {
  background-color: #711a79 !important; /* negro bootstrap */
  color: #fff !important;
  border-color: #212529 !important;
}

/* Icono */
.btn-carrito i {
  font-size: 16px !important;
}

/* Badge */
.badge-carrito {
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 10px;
}

/*Boton perfil*/


.btn-cantidad{
  width: 35px !important; 
  height: 25px !important; 
  border-radius: 20% !important; 
  padding: 0 !important; 
  font-size: 18px !important;
}

.btn-cantidad:hover{
  background-color: #94469b !important;
}

.btn-seguir{
  background-color: #94469b !important;
  width: 29rem !important; 
  height: 2rem !important;
  align-items: center;
}

.dropdown-toggle::after {
    display: none !important;
}


.btn-user{
  background-color: none !important;
  border: none !important;
  box-shadow: none !important;
  color: black !important;
  text-decoration: none !important;
}

.btn-user:hover{
  color: black !important;
  text-decoration: none !important;
}

.btn-user:focus, .btn-user:active{
  color: black;
  background-color: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
}
