.navbar-toggler {
    height: 39.6px;
}
.bg-body-tertiary img{
    padding-bottom: 15px;
}


.btn-carrito {
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;

  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;

  border-radius: 50% !important;
  transition: all 0.2s ease;
}

/* HOVER */
.btn-carrito:hover {
  background-color: #711a79 !important; /* negro bootstrap */
  color: #fff !important;
  border-color: #212529 !important;
}

/* Icono */
.btn-carrito i {
  font-size: 16px !important;
}

/* Badge */
.badge-carrito {
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 10px;
}
